<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icon_32.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <title>메뉴</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <!-- pwa meta-->
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#0d6efd">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Theway-noti">
  <link rel="apple-touch-icon" href="/images/icon_192.png">
  <!-- 로그인 정보 -->
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="container text-center">
    <div class="row g-3">
      <div class="col-12" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <button onclick="location.href='/users/manage'" class="btn btn-danger w-100 btn-lg">
          회원 관리
        </button>
      </div>
      <div class="col-12" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <button onclick="location.href='/webpush/push-test'" class="btn btn-danger w-100 btn-lg">
          등록 기기 관리
        </button>
      </div>
      <div class="col-12" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <button onclick="location.href='/schedule'" class="btn btn-danger w-100 btn-lg">
          알림 예약 관리
        </button>
      </div>
      <div class="col-12">
        <button onclick="location.href='/'" class="btn btn-secondary w-100 btn-lg">
          사용자 메뉴
        </button>
      </div>
    </div>
  </div>
</body>

</html>